[Unit]
Description=Grafana
Documentation=https://grafana.com/docs/grafana/latest/
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/ubuntu/bin/grafana-server --config=/home/ubuntu/conf/defaults.ini
Restart=always
WorkingDirectory=/home/ubuntu/bin
StandardOutput=file:/var/log/grafana.log
StandardError=file:/var/log/grafana-error.log

[Install]
WantedBy=multi-user.target
